<!DOCTYPE html>
<html lang="en">
<head>
<title>The Estate - Contact</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="The Estate Teplate">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ dropzone.load_css() }}
{{ dropzone.style('border: 2px dashed #0087F7; margin: 10px 0 10px; min-height: 100px; width: 200px') }}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/bootstrap4/bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/tagsinput.css')}}">
<link href="{{url_for('static', filename='plugins/fontawesome-free-5.0.1/css/fontawesome-all.css')}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='plugins/OwlCarousel2-2.2.1/owl.carousel.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='plugins/OwlCarousel2-2.2.1/owl.theme.default.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='plugins/OwlCarousel2-2.2.1/animate.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/contact_styles.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/contact_responsive.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='styles/awesomplete.css')}}" />
<link href="{{url_for('static', filename='styles/styles.imageuploader.css')}}" rel="stylesheet">
<script src="{{url_for('static', filename='js/awesomplete.js')}}"></script>
</head>

<body>



<div class="super_container">

	<!-- Home -->
	<div class="home">
		<!-- Image by: https://unsplash.com/@breather -->
		<div class="home_background" style="background-image:url({{url_for('static', filename='images/contact.jpg')}})"></div>

		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_content">
						<div class="home_title">
							<h2>Post an Ad</h2>
						</div>
						<div class="breadcrumbs">
							<span> Post an advertisement of your property and get in contact with buyers today </span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Header -->

	<header class="header trans_300">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_container d-flex flex-row align-items-center trans_300">

						<!-- Logo -->

						<div class="logo_container">
							<a href="#">
								<div class="logo">
									<img src="{{url_for('static', filename='images/logo.png')}}" alt="">
									<span>BroAcre.com</span>
								</div>
							</a>
						</div>

						<!-- Main Navigation -->

						<nav class="main_nav">
							<ul class="main_nav_list">
								<li class="main_nav_item"><a href="index.html">home</a></li>
								<li class="main_nav_item"><a href="about.html">about us</a></li>
								<li class="main_nav_item"><a href="listings.html">listings</a></li>
								<li class="main_nav_item"><a href="news.html">forum</a></li>
								<li class="main_nav_item"><a href="contact.html">contact us</a></li>
							</ul>
						</nav>

						<!-- Log in/Register -->
                        {% if session['username'] %}
						<a style="margin-right:10px;" href="logout">
                            <div class="phone_home text-center">
							     <span>LOG OUT</span>
						    </div>
                        </a>
                        {% else %}
                        <a style="margin-right:10px;" href="login.html">
                            <div class="phone_home text-center">
							     <span>SIGN IN</span>
						    </div>
                        </a>
                        <a href="register.html">
                            <div class="phone_home text-center">
							     <span>REGISTER</span>
						    </div>
                        </a>
                        {% endif %}
						
						<!-- Hamburger -->

						<div class="hamburger_container menu_mm">
							<div class="hamburger menu_mm">
								<i class="fas fa-bars trans_200 menu_mm"></i>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Menu -->

		<div class="menu menu_mm">
			<ul class="menu_list">
				<li class="menu_item">
					<div class="container">
						<div class="row">
							<div class="col">
								<a href="index.html">home</a>
							</div>
						</div>
					</div>
				</li>
				<li class="menu_item">
					<div class="container">
						<div class="row">
							<div class="col">
								<a href="about.html">about us</a>
							</div>
						</div>
					</div>
				</li>
				<li class="menu_item">
					<div class="container">
						<div class="row">
							<div class="col">
								<a href="listings.html">listings</a>
							</div>
						</div>
					</div>
				</li>
				<li class="menu_item">
					<div class="container">
						<div class="row">
							<div class="col">
								<a href="news.html">forums</a>
							</div>
						</div>
					</div>
				</li>
				<li class="menu_item">
					<div class="container">
						<div class="row">
							<div class="col">
								<a href="#">contact</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

	</header>

	<!-- Contact -->

	<div class="contact">
		<div class="container">
			<div class="row">

				<div class="col-lg-6 contact_col" style="margin: auto auto">
					<div class="estate_contact_form">
						<div class="contact_title">Enter your Question here</div>
						<div class="estate_contact_form_container">
							<form id="estate_contact_form" class="estate_contact_form" method="POST" action="process_question">
                                <input id="title" name="title" class="estate_input_field estate_contact_form_name" type="text" placeholder="Title of your Question" required="required">
                                <textarea name="description" name="description" class="estate_text_field estate_contact_form_name" cols="40" rows="6" placeholder="Description" required></textarea><br/>
                                <select class="dropdown_item_select" name="category">
                                    <option> Events  </option>
                                    <option> Real Estate Tips </option>
                                    <option> Useful Information </option>
                                    <option> Support </option>
                                </select>
								<button id="estate_contact_send_btn" type="submit" class="estate_contact_send_btn trans_200" value="Submit" style="margin-bottom:30px;">Post Question</button>
							</form>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
<script src="{{url_for('static', filename='styles/bootstrap4/popper.js')}}"></script>
<script src="{{url_for('static', filename='styles/bootstrap4/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/tagsinput.js')}}"></script>
<script src="{{url_for('static', filename='plugins/OwlCarousel2-2.2.1/owl.carousel.js')}}"></script>
<script src="{{url_for('static', filename='plugins/easing/easing.js')}}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script src="{{url_for('static', filename='js/contact_custom.js')}}"></script>
</body>

</html>
